<div>

    <form name="myForm">
        <md-input-container id="searchBar" class="md-block"  layout-align="center" >
            <input type="text" name="input" ng-model="searchOpts.value" required ng-trim="true" />
        </md-input-container>

        <span class="text-size-20 valign">Search: </span>
        <md-button class="md-raised" ng-click="search('tags')"> Tags </md-button>
        <md-button class="md-raised" ng-click="search('title')"> Sutta Titles </md-button>
        <md-button class="md-raised" ng-click="search('summary')"> Summaries </md-button>
        <!-- <md-button class="md-raised" ng-click="search('similie')"> Similies </md-button> -->
    </form>
    <br />
    <br />

    <div>
        <table id="searchResultsTable" class="fullWidth">
            <tr> <th> <h3>Matching Sutta </h3></th> <th> <h3>Title</h3> </th> <th> <h3>Categories</h3> </th> </tr>
            <tr ng-repeat="result in searchResults.data.rows">
                <td>
                    <a href="/#/sutta?id={{result.id}}">{{result.id}}</a>
                </td>
                <td>
                    {{result.doc.title}}
                </td>
                <td>
                    {{getKeys(result.highlighting)}}
                </td>
            </tr>
        </table>
    </div>

</div>
