<table id="suttaTable"><tbody> <tr>
    <td ng-style="{'width': inputWidth}">
        <div>
            <h1>{{currentSutta.fullname}}</h1>
            <br />

            <button ng-click="showSutta()">{{showHideSuttaText}}</button>
            <table class="left wide topMargin"> <tbody>
                <tr>
                    <td>Title: </td>
                    <td class="editButton">
                        <button type="button" ng-click="editField('title')">Edit</button>
                    </td>
                    <td>
                        <span ng-hide="currentSuttaChanges.title"> {{currentSutta.title}} </span>
                        <input class="wide" ng-show="currentSuttaChanges.title"  ng-model="currentSutta.title" ng-blur="doneEditing('title')"  sync-focus-with="currentSuttaChanges.title" />
                    </td>
                </tr>
                <tr>
                    <td>Summary: </td>
                    <td class="editButton">
                        <button type="button" ng-click="editField('summary')">Edit</button>
                    </td>
                    <td>
                        <div ng-hide="currentSuttaChanges.summary" > {{currentSutta.summary}} </div>
                        <div>
                            <textarea msd-elastic ng-show="currentSuttaChanges.summary" ng-model="currentSutta.summary" ng-blur="doneEditing('summary')" sync-focus-with="currentSuttaChanges.summary">    {{currentSutta.summary}}
                            </textarea>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>Translations: </td>
                    <td class="editButton">
                        <button type="button" ng-click="editField('translations')">Edit</button>
                    </td>
                    <td>
                        <span ng-hide="currentSuttaChanges.translations">
                            <div ng-repeat="translation in currentSutta.translations track by $index">
                                <a class="translationPadding" href="{{translation}}">{{translation}}</a>
                            </div>
                        </span>
                        <textarea msd-elastic class="wide" ng-show="currentSuttaChanges.translations" ng-model="translationsEdits" ng-blur="doneEditing('translations')" sync-focus-with="currentSuttaChanges.translations">
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td>Tags: </td>
                    <td class="editButton">
                        <button type="button" ng-click="editField('tags')">Edit</button>
                    </td>
                    <td class="wide">
                        <span ng-hide="currentSuttaChanges.tags">
                            <span ng-repeat="tag in currentSutta.tags track by $index">
                                <a class="tagPadding" href="#/searchSuttaInfo?value={{tag}}&category=tags">#{{tag}}</a>
                            </span>
                        </span>
                        <div>
                            <textarea msd-elastic ng-show="currentSuttaChanges.tags" ng-model="tagsString" ng-blur="doneEditing('tags')" sync-focus-with="currentSuttaChanges.tags"> </textarea>
                        </div>
                    </td>
                </tr>
            </tbody> </table>

        </div>

    </td>

    <td class="wide left" ng-show="showSuttaPane">
        <div id="suttaPane" class="scroll" ng-bind-html="suttaPane"> </div>
    </td>

</tr> </tbody></table>
