<table id="suttaTable"><tbody> <tr>
    <td ng-style="{'width': inputWidth}">
        <div>
            <table class="fullWidth"><tr>
                <td class="top-padding-fix">
                    <i class="material-icons md-54" ng-click="navigate('left')">keyboard_arrow_left</i>
                </td>
                <td>
                    <h1>{{currentSutta.fullname}}</h1>
                </td>
                <td class="top-padding-fix">
                    <i class="material-icons md-54" ng-click="navigate('right')">keyboard_arrow_right</i>

                </td>
            </tr> </table>

            <br />

            <button ng-show="revealSuttaTextButton" ng-click="showSutta()">{{showHideSuttaText}}</button>
            <table class="left wide topMargin"> <tbody>
                <tr>
                    <td>Title: </td>
                    <td class="editButton">
                        <button type="button" ng-click="editField('title')">{{editButtons['title']}}</button>
                    </td>
                    <td>
                        <span ng-hide="currentSuttaChanges.title"> {{currentSutta.title}} </span>
                        <input class="wide" ng-show="currentSuttaChanges.title"  ng-model="currentSutta.title"  sync-focus-with="currentSuttaChanges.title" />
                    </td>
                </tr>
                <tr>
                    <td>Summary: </td>
                    <td class="editButton">
                        <button type="button" ng-click="editField('summary')">{{editButtons['summary']}}</button>
                    </td>
                    <td>
                        <div class="summary" ng-hide="currentSuttaChanges.summary" > {{currentSutta.summary}} </div>
                        <div>
                            <textarea rows="25" ng-show="currentSuttaChanges.summary" ng-model="currentSutta.summary" sync-focus-with="currentSuttaChanges.summary">
                                {{currentSutta.summary}}
                            </textarea>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>Notes: </td>
                    <td class="editButton">
                        <button type="button" ng-click="editField('notes')">{{editButtons['notes']}}</button>
                    </td>
                    <td>
                        <div class="summary" ng-hide="currentSuttaChanges.notes" > {{currentSutta.notes}} </div>
                        <div>
                            <textarea rows="15" ng-show="currentSuttaChanges.notes" ng-model="currentSutta.notes" sync-focus-with="currentSuttaChanges.notes">
                                {{currentSutta.notes}}
                            </textarea>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>Questions: </td>
                    <td class="editButton">
                        <button type="button" ng-click="editField('questions')">{{editButtons['questions']}}</button>
                    </td>
                    <td>
                        <div class="summary" ng-hide="currentSuttaChanges.questions" > {{currentSutta.questions}} </div>
                        <div>
                            <textarea rows="5" ng-show="currentSuttaChanges.questions" ng-model="currentSutta.questions"  sync-focus-with="currentSuttaChanges.questions">
                                {{currentSutta.questions}}
                            </textarea>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>Translations: </td>
                    <td class="editButton">
                        <button type="button" ng-click="editField('translations')">{{editButtons['translations']}}</button>
                    </td>
                    <td>
                        <span ng-hide="currentSuttaChanges.translations">
                            <div ng-repeat="translation in currentSutta.translations track by $index">
                                <a class="translationPadding" href="{{translation}}">{{translation}}</a>
                            </div>
                        </span>
                        <textarea msd-elastic class="wide" ng-show="currentSuttaChanges.translations" ng-model="translationsEdits" sync-focus-with="currentSuttaChanges.translations">
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td>Tags: </td>
                    <td class="editButton">
                        <button type="button" ng-click="editField('tags')">{{editButtons['tags']}}</button>
                    </td>
                    <td class="wide">
                        <span ng-hide="currentSuttaChanges.tags">
                            <span ng-repeat="tag in currentSutta.tags track by $index">
                                <a class="tagPadding" href="#/searchSuttaInfo?value={{tag}}&category=tags">#{{tag}}</a>
                            </span>
                        </span>
                        <div>
                            <textarea msd-elastic ng-show="currentSuttaChanges.tags" ng-model="tagsString" sync-focus-with="currentSuttaChanges.tags"> </textarea>
                        </div>
                    </td>
                </tr>
            </tbody> </table>

        </div>

    </td>

    <td class="wide left" ng-show="showSuttaPane">
        <div id="suttaPane" class="scroll" ng-bind-html="suttaPane"> </div>
    </td>

</tr> </tbody></table>
