/*put in separate file later*/

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-54 { font-size: 54px; }




body{
    min-width: 700px;
    height: 100%;
}
ng-md-icon {
  fill: currentColor;
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
}

.top-padding-fix{
    padding-top: 15px;
}
td {
    padding-right: 10px;
    padding-bottom: 15px;
    vertical-align: top;
}
th{
    text-align: center;
    padding-bottom: 15px;
}
textarea{
    width: 100%;
}
.fullWidth{
    width: 100%;
}

#mainContent{
    margin: auto;
    max-width: 1300px;
    padding-left: 30px;
    padding-right: 30px;
    min-width: 730px;
}
#mainPanel{
    min-height: 750px;
}
#suttaTable{
    margin: auto;
}

#searchResultsTable td{}{
    width: 33%;
}

#suttaPane{
    height:80vh;
}
#searchBar{
    font-size: 32px;
    margin: auto;
    text-align: center;
    width: 600px;
}
#searchBar > input{
    text-align: center;
}

.valign{
    vertical-align: middle;
}
.text-size-20{
    font-size: 20px;
}

.scroll{
    overflow: auto;
}
.fixAtTop{
    position: fixed;
    top: 0;
}
.topAlign{
    vertical-align: top;
}
.topMargin{
    margin-top: 30px;
}
.editButton{
    width: 10px;
}
.wide{
    width:100%;
}
.tall{
    height: 100%;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}

.tagPadding{
    padding-right: 7px;
}

.panel > .panel-heading {
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
    color: black;

}

td > #suttaPane{
    margin-left: 30px;

}

.panel{
    border: 0px;
}

.panel-group {
    margin: 0px;
}


/* Sutta Page */
.summary{
    white-space: pre-wrap;
    max-height: 400px;
    overflow: auto;
}

#recentEditsTable{
    margin: 0 auto;
    text-align: center;
    min-width: 650px;
    max-width: 900px;
}
